/* Footer Section */
.footer-container {
  width: 80%;
  border: 2px solid black;
  margin-left: 10%;
  margin-top: 5% auto;
  background-color: rgba(255, 140, 98, 1);
  padding: 2% 0;
  border-radius: 50%;
}
.footer-container h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.footer-description {
  width: 73%;
  font-size: 26px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: "Roboto-Bold", "Roboto", sans-serif;
}

/* Main Content */
.footer-content {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

/* Insights Section */
.footer-insights .footer-section-title {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-link-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
.footer-link-item h3 {
  color: #7a1f0b; /* Dark red text for links */
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  margin: 0; /* Remove any extra margin */
}
.footer-logo {
  margin-top: 110px;
  margin-left: 95px;
}
.footer-link-item .icon {
  color: #ffc824; /* Yellow color for arrow icons */
  font-size: 18px;
  flex-shrink: 0;
}

/* Contact Section */
.footer-contact {
  margin-left: 268px;
  width: 30%;
  margin-bottom: 71px;
}
.footer-contact .footer-section-title {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.footer-contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-contact-item h3,
.footer-email {
  color: #7a1f0b; /* Dark red text */
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin: 15px; /* Remove any extra margin */
}
.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 5px; /* Reduce gap to bring icon and text closer */
}
.footer-contact-item .icon {
  color: rgb(255, 200, 36);
  font-size: 30px;
  font-weight: bold;
}

/* Social Media Section */
.footer-socials {
  margin-top: 60px;
}
.footer-social-title {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 36px;
}
.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .footer-container {
    width: 360px;
    height: 660px;
    border-radius: 50%;
    margin: 0px auto;
  }

  .footer-description {
    width: 100%;
    font-size: 18px;
  }

  .footer-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 25px;
  }

  .footer-contact {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }
  .footer-links {
    margin: 0;
  }

  .footer-social-title {
    margin-left: 5px;
  }
  .footer-logo {
    margin: 0px;
    height: 70px;
    margin-left: 55px;
  }

  .footer-insights .footer-section-title {
    font-size: 20px;
    margin-left: 10px;
  }
  .footer-contact .footer-section-title {
    font-size: 20px;
    margin-top: 0;
    margin-right: 17px;
  }
  .footer-contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 10px;
  }
  .footer-socials {
    margin-top: 28px;
  }
  .footer-social-title {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-right: 35px;
  }
  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 0px;
    width: 100%;
  }

  .footer-contact-item h3,
  .footer-email {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: rgb(153, 153, 153);
    font-size: 16px;
    text-decoration: underline;
    margin: 10px;
  }
  .footer-contact-item .icon {
    color: rgb(255, 200, 36);
    font-size: 20px;
    font-weight: bold;
  }
  .footer-contact-item svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: rgb(255, 200, 36);
    margin-right: 10px;
  }
  .footer-link-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    margin-top: 10px;
  }
  .footer-link-item h3 {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: rgb(153, 153, 153);
    font-size: 16px;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 1279px) {
  /* Insights Section */
  .footer-insights .footer-section-title {
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-link-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  .footer-link-item h3 {
    color: #7a1f0b; /* Dark red text for links */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 0; /* Remove any extra margin */
  }
  .footer-logo {
    margin-top: 110px;
    margin-left: 95px;
  }
  .footer-link-item .icon {
    color: #ffc824; /* Yellow color for arrow icons */
    font-size: 18px;
    flex-shrink: 0;
  }

  /* Contact Section */
  .footer-contact {
    margin-left: 6px;
    width: 40%;
    margin-bottom: 20px;
  }
  .footer-contact .footer-section-title {
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-contact-item h3,
  .footer-email {
    color: #7a1f0b; /* Dark red text */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin: 15px; /* Remove any extra margin */
  }
  .footer-contact-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce gap to bring icon and text closer */
  }
  .footer-contact-item .icon {
    color: rgb(255, 200, 36);
    font-size: 30px;
    font-weight: bold;
  }

  /* Social Media Section */
  .footer-socials {
    margin-top: 60px;
  }
  .footer-social-title {
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 26px;
  }
  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    margin-right: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-insights .footer-section-title {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-link-item {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 0px;
  }
  .footer-link-item h3 {
    color: #7a1f0b; /* Dark red text for links */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    margin: 0; /* Remove any extra margin */
  }
  .footer-logo {
    margin-top: 30px;
    margin-left: 20px;
  }
  .footer-link-item .icon {
    color: #ffc824; /* Yellow color for arrow icons */
    font-size: 18px;
    flex-shrink: 0;
  }

  /* Contact Section */
  .footer-contact {
    margin-left: 6px;
    width: 40%;
    margin-bottom: 20px;
  }
  .footer-contact .footer-section-title {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-contact-item h3,
  .footer-email {
    color: #7a1f0b; /* Dark red text */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    margin: 10px auto; /* Remove any extra margin */
  }
  .footer-contact-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce gap to bring icon and text closer */
  }
  .footer-contact-item .icon {
    color: rgb(255, 200, 36);
    font-size: 30px;
    font-weight: bold;
  }

  /* Social Media Section */
  .footer-socials {
    margin-top: 60px;
  }
  .footer-social-title {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0px;
  }
  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .footer-content {
    gap: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-content {
    gap: 0px;
    margin-right: 20px;
  }
  .footer-container {
    width: 98%;
    border: 2px solid black;
    margin: 15px auto;
    margin-top: 5% auto;
    background-color: rgba(255, 140, 98, 1);
    padding: 2% 0;
    border-radius: 50%;
  }
  .footer-insights .footer-section-title {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-link-item {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 0px;
  }
  .footer-link-item h3 {
    color: #7a1f0b; /* Dark red text for links */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    margin: 0; /* Remove any extra margin */
  }
  .footer-logo {
    margin-top: 30px;
    margin-left: 20px;
  }
  .footer-link-item .icon {
    color: #ffc824; /* Yellow color for arrow icons */
    font-size: 18px;
    flex-shrink: 0;
  }

  /* Contact Section */
  .footer-contact {
    margin-right: 25px;
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-contact .footer-section-title {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  .footer-contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-contact-item h3,
  .footer-email {
    color: #7a1f0b; /* Dark red text */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    margin: 10px auto; /* Remove any extra margin */
  }
  .footer-contact-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce gap to bring icon and text closer */
  }
  .footer-contact-item .icon {
    color: rgb(255, 200, 36);
    font-size: 30px;
    font-weight: bold;
  }

  /* Social Media Section */
  .footer-socials {
    margin-top: 60px;
  }
  .footer-social-title {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0px;
  }
  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .footer-content {
    gap: 0px;
  }
}
