body {
  background: rgba(226, 223, 223, 0.384)
    url(https://static.wixstatic.com/media/4c2d9489b9554ec7a9fd08808b4d8a6a.jpg/v1/fill/w_2850,h_1510,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/4c2d9489b9554ec7a9fd08808b4d8a6a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  position: relative;

  font-family: "Times New Roman", Times, serif;
}

.first-section {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -2 !important;
  position: relative;
  top: -32px;
  height: 550px;
  width: 93%;
  background-color: rgb(245 137 84);
  border-radius: 50%;
  border-bottom: 10px solid rgb(245 137 84);
}
.trust-div {
  margin-top: 111px;
}
#client-img {
  width: 1269px;
  height: 288px;
  margin-top: 80px;
}
.first-section-img h1 {
  margin-top: -174px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
}

.Clients h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
h1 {
  color: white;
  text-decoration: underline;
}
.read_one button a {
  text-decoration: none;
}
.read_one p1,
p2 {
  color: rgb(39, 38, 37);
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: bolder;
}
/* .Section_two,
.section_two_subtwo,
.section_two_subthree {
  /* display: flex;
  justify-content: center; */
/* gap: 200px; */
/* flex-wrap: wrap; */
/* padding: 30px; */
/* } */

.read_one img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.read_one p1 {
  line-height: 80px;
  display: flex;
}
button {
  padding: 10px;
  background-color: #fd763f;
  border: 0;
}
button a {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.read_one p2 {
  display: flex;
  color: white;
  font: bolder;
  font-size: 30px;
}
button:hover {
  background-color: blue;
}
button a:hover {
  color: antiquewhite;
}
/* body{background-color: white;opacity: 0.35;} */
/* .first-section{opacity: 0.9;} */
#section_two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 10px; */
  gap:100px;
}
